<!DOCTYPE html>
<html>
<head>
  <title>RokBlog</title>
  <%= stylesheet_link_tag    "rok_blog/application", media: "all" %>
  <%= javascript_include_tag "rok_blog/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
